library_xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SomeDBNAme" type="xs:string"/>
                <xs:element name="SomeUserName" type="xs:string"/>
                <xs:element name="SomePass" type="xs:string"/>
                <xs:element name="SomeURL" type="xs:string"/>
                <xs:element name="SomeDriver" type="xs:string"/>
               
                <xs:element name="tables"/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="table">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="fields">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="field">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element name="name" type="xs:string"/>
                                                               <xs:element name="type" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>

                                                </xs:sequence>
                                            </xs:complexType>

                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>

                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>

                </xs:element>

            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>